*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.startGameContainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;;
}
.quizContainer{
    border:2px solid black;
    width:40vw;
    height:40vh;
    background-color: aliceblue;
}
.quizContainer ul li{
    list-style: none;
}
.btn{
    width:10vw;
}
.btn:disabled:hover{
    cursor: not-allowed;

}
